.header {
  &__sticky {
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 500;
    background-color: rgb(235 199 231 / 69%);
  }

  &__wrapper {
    padding: 0 40px;
    position: relative;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 50px;
  }

  &__help {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 7px;

    &:hover {
      text-decoration:underline;
    }
  }

  &__top__right {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
  }

  &__bottom {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;

  &__link {
    padding: 20px 0 15px;
    height: 50px;
    color: #323131;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      color: rgb(228 66 209 / 69%);
      border-bottom: 1px solid #000;
    }
  }
}

.icon {
  height: 24px;
  width: 24px;
}

.logo {
  display: flex;
  justify-content: center;
  // color: #ef1c1c;
  color:rgb(228 66 209 / 69%);
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 4px;
}
