.filters {
  position: relative;
  height: auto;

  @media(max-width: 1099px) {
    margin-block-end: 10px;
  }

  &__wrapper {
    position: fixed;
    top: 213px;

    @media(max-width:1099px) {
      position: relative;
      top: 0;
    }
  }

  &__fixed {
    position: fixed;
    top: 30px;

    @media(max-width:1099px) {
      position: relative;
      top: 0;
    }
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #4e4d4d;
    position: relative;
    padding-block-end: 15px;
    transition: all 0.3s ease;
    text-transform: uppercase;

    @media(max-width: 1099px) {
      padding-block-end: 10px;
    }

    &--active {
      color: rgb(250, 176, 188);
    }
  }

  &__link {
    color: black;
    font-weight: 500;
  }

  &__item {
    margin-block-end: 10px;
    position: relative;
    width: fit-content;

    @media(max-width: 1099px) {
      padding: 5.5px 12px;
      border: 1px solid black;
      border-radius: 15px;
      margin-block-end: 0px;
      height: fit-content;
      font-size: 14px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 2px;
      width: 100%;
      transition: all 0.3s ease-in-out;
      transform-origin: left;
      transform: scale(0);
     }
  }

  &__list {
    @media(max-width: 1099px) {
      display: flex;
      gap: 20px;
      overflow-x: auto;
      padding-block-end: 10px;
    }
  }
}

.filters__item:hover::after {
  background-color: rgb(250, 176, 188);
  transform: scale(1);
}