.slider {
  width: 100vw;
  height: 100vh;
  position: relative;
 
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__images-container {
    width: 300vw;
    height: 100%;
    // overflow: hidden;
    display: flex;
    transition: all 1s ease-in-out;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: rgb(228 66 209 / 69%);
      background-color: rgb(235 199 231 / 69%);
    }

    &--left {
      top: 50vh;
      left: 10vw;
      right: 0;
    }

    &--right {
      top: 50vh;
      right: 10vw;
 
    }
  }

  &__pagination {
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    bottom: 50px;
    display: flex;
    margin: auto;
    gap: 10px;
  }
}

.pagination-dot {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  
  &--active {
    background-color: rgb(235 199 231 / 69%);
  }
}


